/* Full screen */
html,
body {
    min-height: 100%;
}

#app {
    display: table;
    width: 100%;
    height: inherit;
}

#banner {
    position: absolute;
    left: 0;
    right: 0;
    padding: 10px;
    box-shadow: 0 4px 2px rgba(34,36,38,.15);
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    background-color: rgb(220, 20, 60);
    color: rgb(240,255,255);
    z-index: 9999;
}

/* Override some properties of semantic ui Sidebar */
#sidebar {
	box-shadow: 0 0 2px rgba(34,36,38,.15);
	overflow: hidden !important;
}

/* Controller area */
#controller {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 50px;
    overflow: auto;
    height: 100%;
    min-height: 100%;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

div.overlay:hover {
    background-color: rgb(220, 20, 60, 0.3);
    cursor: pointer;
}
